@{
    Layout = "/Views/Shared/_LayoutCustom.cshtml";
}


@model IEnumerable<PostViewModel>
<partial name="_LayoutCustomHeaderPartial" />
<div class="container px-4 px-lg-5">    
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @foreach (var post in Model)
            {
                <!-- Post preview-->
                <div class="post-preview">
                    <a asp-area="" asp-controller="Posts" asp-action="View" asp-route-id="@post.Id">
                        <h2 class="post-title">@post.Title</h2>
                        <h3 class="post-subtitle">@post.SubTitle</h3>
                    </a>
                    <p class="post-meta">
                        Postado por
                        <a href="#!">@post.Author</a>
                        em @post.CreateAt.ToString("dd/MM/yyyy HH:mm")
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
                <!-- Post preview-->
            }
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
        </div>
    </div>
</div>